@import "tailwindcss";

@theme {
  --color-primary: #D35400;
  --color-secondary: #C0392B;
  --color-accent: #2E7D32;
  --color-gold: #E1AD01;
  --color-cream: #4E342E;
  --color-text:  #FFF8E1;
}
body {
  @apply min-h-screen;
  background: linear-gradient(
    to bottom right,
    #FFF8E1,
    #F5F5F5,
    #FFFFFF
  );
}